DOCKERHUB_USERNAME=
DB_URL=jdbc:postgresql://postgres:5432/quant_db
DB_USERNAME=postgres
DB_PASSWORD=postgres
REDIS_HOST=redis
REDIS_PORT=6379
# openssl rand -base64 32 로 생성 후 입력
JWT_SECRET=
AI_SERVER_URL=http://localhost:8000